In [30]:
import pandas as pd
import re
import matplotlib.pyplot as plt
import numpy as np

# Read the list of filenames from the configuration file
with open('file_list.txt', 'r', encoding='utf-8') as config_file:
    file_names = config_file.read().splitlines()

# Regex pattern to match the data format
pattern = r'\[(.*?)\] (.*?): (.*)'


# Initialize an empty list to store parsed data
datalist = []
stream_count = 0
# Iterate over each specified file
for file in file_names:
    full_path = "data\\"+file
    with open(full_path, 'r', encoding='utf-8') as f:
        lines = f.readlines()
        for line in lines:
            match = re.match(pattern, line)
            if match:
                date, user, message = match.groups()
                datalist.append([date, user, message,stream_count])
    stream_count = stream_count + 1

# Create a DataFrame from the parsed data
data = pd.DataFrame(datalist, columns=["date", "user", "message","stream"])

In [31]:
data = data[data.apply(lambda row: row['user'].lower() in row['message'].lower(), axis=1)]

In [32]:
data.count()

date       2840
user       2840
message    2840
stream     2840
dtype: int64

In [33]:
data.head(25)

,date,user,message,stream
100,2024-05-01 15:13:16 UTC,kloakpojken,4 raiders from kloakpojken have joined!,0
120,2024-05-01 15:14:42 UTC,yusuf2774,yusuf2774 is gifting 1 Tier 1 Subs to dorozea'...,0
121,2024-05-01 15:14:43 UTC,yusuf2774,yusuf2774 gifted a Tier 1 sub to ChickenBurgah...,0
210,2024-05-01 15:26:58 UTC,iborotti_06,iborotti_06 subscribed with Prime.,0
566,2024-05-01 16:29:11 UTC,x3lolx,x3lolx is gifting 1 Tier 1 Subs to dorozea's c...,0
567,2024-05-01 16:29:11 UTC,x3lolx,x3lolx gifted a Tier 1 sub to ArtMassong!,0
568,2024-05-01 16:30:00 UTC,x3lolx,x3lolx is gifting 1 Tier 1 Subs to dorozea's c...,0
569,2024-05-01 16:30:00 UTC,x3lolx,x3lolx gifted a Tier 1 sub to PrachtkerleDE!,0
575,2024-05-01 16:31:10 UTC,x3lolx,x3lolx is gifting 1 Tier 1 Subs to dorozea's c...,0
576,2024-05-01 16:31:10 UTC,x3lolx,x3lolx gifted a Tier 1 sub to lubb1x!,0
660,2024-05-01 16:41:16 UTC,x3lolx,x3lolx is gifting 1 Tier 1 Subs to dorozea's c...,0
661,2024-05-01 16:41:16 UTC,x3lolx,x3lolx gifted a Tier 1 sub to alaskalyeska!,0
866,2024-05-01 17:19:54 UTC,ze1nar,ze1nar subscribed with Prime. They've subscrib...,0
1061,2024-05-01 17:52:19 UTC,spinglebob,spinglebob subscribed at Tier 1. They've subsc...,0
1075,2024-05-01 17:54:28 UTC,Bizzan,Bizzan is gifting 5 Tier 1 Subs to dorozea's c...,0
1076,2024-05-01 17:54:29 UTC,Bizzan,Bizzan gifted a Tier 1 sub to shotashellz!,0
1077,2024-05-01 17:54:29 UTC,Bizzan,Bizzan gifted a Tier 1 sub to aabeemick!,0
1078,2024-05-01 17:54:29 UTC,Bizzan,Bizzan gifted a Tier 1 sub to gantl4!,0
1079,2024-05-01 17:54:29 UTC,Bizzan,Bizzan gifted a Tier 1 sub to Minaqua__!,0
1080,2024-05-01 17:54:29 UTC,Bizzan,Bizzan gifted a Tier 1 sub to FeiFuchs!,0
1496,2024-05-01 19:05:22 UTC,lucas_bke,lucas_bke subscribed at Tier 1. They've subscr...,0
1633,2024-05-01 19:25:40 UTC,bbarrannn,bbarrannn subscribed at Tier 1. They've subscr...,0
1655,2024-05-01 19:27:44 UTC,bbarrannn,bbarrannn is gifting 10 Tier 1 Subs to dorozea...,0
1656,2024-05-01 19:27:44 UTC,bbarrannn,bbarrannn gifted a Tier 1 sub to Manuel_98!,0
1657,2024-05-01 19:27:44 UTC,bbarrannn,bbarrannn gifted a Tier 1 sub to xGoron!,0

In [34]:
giftedData = data[data['message'].str.contains(' sub ', case=False, na=False)]

In [35]:
gifterData = data[data['message'].str.contains(' is gifting ', case=False, na=False)]
gifterData.tail(25)

,date,user,message,stream
318973,2024-09-05 14:54:31 UTC,xan_gny,xan_gny is gifting 1 Tier 1 Subs to dorozea's ...,104
319153,2024-09-05 15:27:28 UTC,shenxir,shenxir is gifting 5 Tier 1 Subs to dorozea's ...,104
319173,2024-09-05 15:28:45 UTC,xan_gny,xan_gny is gifting 1 Tier 1 Subs to dorozea's ...,104
319209,2024-09-05 15:32:52 UTC,xan_gny,xan_gny is gifting 3 Tier 1 Subs to dorozea's ...,104
320421,2024-09-05 17:48:07 UTC,slmonkaq8,slmonkaq8 is gifting 10 Tier 1 Subs to dorozea...,104
323579,2024-09-06 14:25:14 UTC,fyodor_m_d1821,fyodor_m_d1821 is gifting 1 Tier 1 Subs to dor...,105
324738,2024-09-06 15:57:16 UTC,waterlem_n,waterlem_n is gifting 1 Tier 1 Subs to dorozea...,105
328549,2024-09-08 12:31:23 UTC,shenxir,shenxir is gifting 5 Tier 1 Subs to dorozea's ...,107
330787,2024-09-08 15:25:10 UTC,xan_gny,xan_gny is gifting 1 Tier 1 Subs to dorozea's ...,107
332818,2024-09-09 12:34:21 UTC,xan_gny,xan_gny is gifting 1 Tier 1 Subs to dorozea's ...,108
339689,2024-09-10 17:24:34 UTC,teodorvecerdi,teodorvecerdi is gifting 5 Tier 1 Subs to doro...,109
339704,2024-09-10 17:25:03 UTC,voomtheone,voomtheone is gifting 5 Tier 1 Subs to dorozea...,109
339761,2024-09-10 17:27:06 UTC,voomtheone,voomtheone is gifting 5 Tier 1 Subs to dorozea...,109
339771,2024-09-10 17:27:15 UTC,Riyadh_z21,Riyadh_z21 is gifting 10 Tier 1 Subs to doroze...,109
339818,2024-09-10 17:28:37 UTC,Riyadh_z21,Riyadh_z21 is gifting 50 Tier 1 Subs to doroze...,109
339848,2024-09-10 17:29:03 UTC,banties1g,banties1g is gifting 1 Tier 1 Subs to dorozea'...,109
339864,2024-09-10 17:29:34 UTC,Riyadh_z21,Riyadh_z21 is gifting 100 Tier 1 Subs to doroz...,109
339950,2024-09-10 17:30:50 UTC,1206paul_,1206paul_ is gifting 1 Tier 1 Subs to dorozea'...,109
339956,2024-09-10 17:30:57 UTC,Riyadh_z21,Riyadh_z21 is gifting 100 Tier 1 Subs to doroz...,109
340035,2024-09-10 17:32:17 UTC,Riyadh_z21,Riyadh_z21 is gifting 100 Tier 1 Subs to doroz...,109
340150,2024-09-10 17:34:50 UTC,Riyadh_z21,Riyadh_z21 is gifting 100 Tier 1 Subs to doroz...,109
340327,2024-09-10 17:39:33 UTC,Aluminiumminimumimmunity,Aluminiumminimumimmunity is gifting 5 Tier 1 S...,109
340360,2024-09-10 17:40:35 UTC,fyodor_m_d1821,fyodor_m_d1821 is gifting 1 Tier 1 Subs to dor...,109
342608,2024-09-11 15:47:26 UTC,IIISaboIII,IIISaboIII is gifting 25 Tier 1 Subs to doroze...,110
342716,2024-09-11 15:56:57 UTC,IIISaboIII,IIISaboIII is gifting 10 Tier 1 Subs to doroze...,110

In [36]:
gifterData['message'].head(1)

120    yusuf2774 is gifting 1 Tier 1 Subs to dorozea'...
Name: message, dtype: object

In [37]:
# Extract the number after the word "gifting"
gifterData['gifts'] = gifterData['message'].apply(lambda x: int(re.search(r'gifting\s(\d+)', x).group(1)))

# Display the dataframe with the extracted gifts
print(gifterData[['message', 'gifts']])

                                                  message  gifts
120     yusuf2774 is gifting 1 Tier 1 Subs to dorozea'...      1
566     x3lolx is gifting 1 Tier 1 Subs to dorozea's c...      1
568     x3lolx is gifting 1 Tier 1 Subs to dorozea's c...      1
575     x3lolx is gifting 1 Tier 1 Subs to dorozea's c...      1
660     x3lolx is gifting 1 Tier 1 Subs to dorozea's c...      1
...                                                   ...    ...
340150  Riyadh_z21 is gifting 100 Tier 1 Subs to doroz...    100
340327  Aluminiumminimumimmunity is gifting 5 Tier 1 S...      5
340360  fyodor_m_d1821 is gifting 1 Tier 1 Subs to dor...      1
342608  IIISaboIII is gifting 25 Tier 1 Subs to doroze...     25
342716  IIISaboIII is gifting 10 Tier 1 Subs to doroze...     10

[236 rows x 2 columns]

C:\Users\Kardo\AppData\Local\Temp\ipykernel_19788\357698049.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gifterData['gifts'] = gifterData['message'].apply(lambda x: int(re.search(r'gifting\s(\d+)', x).group(1)))

In [38]:
giftedData.head(50)

,date,user,message,stream
121,2024-05-01 15:14:43 UTC,yusuf2774,yusuf2774 gifted a Tier 1 sub to ChickenBurgah...,0
567,2024-05-01 16:29:11 UTC,x3lolx,x3lolx gifted a Tier 1 sub to ArtMassong!,0
569,2024-05-01 16:30:00 UTC,x3lolx,x3lolx gifted a Tier 1 sub to PrachtkerleDE!,0
576,2024-05-01 16:31:10 UTC,x3lolx,x3lolx gifted a Tier 1 sub to lubb1x!,0
661,2024-05-01 16:41:16 UTC,x3lolx,x3lolx gifted a Tier 1 sub to alaskalyeska!,0
1076,2024-05-01 17:54:29 UTC,Bizzan,Bizzan gifted a Tier 1 sub to shotashellz!,0
1077,2024-05-01 17:54:29 UTC,Bizzan,Bizzan gifted a Tier 1 sub to aabeemick!,0
1078,2024-05-01 17:54:29 UTC,Bizzan,Bizzan gifted a Tier 1 sub to gantl4!,0
1079,2024-05-01 17:54:29 UTC,Bizzan,Bizzan gifted a Tier 1 sub to Minaqua__!,0
1080,2024-05-01 17:54:29 UTC,Bizzan,Bizzan gifted a Tier 1 sub to FeiFuchs!,0
1656,2024-05-01 19:27:44 UTC,bbarrannn,bbarrannn gifted a Tier 1 sub to Manuel_98!,0
1657,2024-05-01 19:27:44 UTC,bbarrannn,bbarrannn gifted a Tier 1 sub to xGoron!,0
1658,2024-05-01 19:27:44 UTC,bbarrannn,bbarrannn gifted a Tier 1 sub to tinyballls!,0
1659,2024-05-01 19:27:44 UTC,bbarrannn,bbarrannn gifted a Tier 1 sub to biggestwiseguy!,0
1660,2024-05-01 19:27:44 UTC,bbarrannn,bbarrannn gifted a Tier 1 sub to doenietjiggy!,0
1661,2024-05-01 19:27:44 UTC,bbarrannn,bbarrannn gifted a Tier 1 sub to casperblank!,0
1662,2024-05-01 19:27:44 UTC,bbarrannn,bbarrannn gifted a Tier 1 sub to kalakg__freboy!,0
1663,2024-05-01 19:27:44 UTC,bbarrannn,bbarrannn gifted a Tier 1 sub to fnc_is_calling!,0
1664,2024-05-01 19:27:44 UTC,bbarrannn,bbarrannn gifted a Tier 1 sub to blind_dood!,0
1665,2024-05-01 19:27:44 UTC,bbarrannn,bbarrannn gifted a Tier 1 sub to Hitmonchop!,0
1707,2024-05-01 19:33:58 UTC,bbarrannn,bbarrannn gifted a Tier 1 sub to z1jan2k!,0
1708,2024-05-01 19:33:58 UTC,bbarrannn,bbarrannn gifted a Tier 1 sub to j0nas_164!,0
1709,2024-05-01 19:33:58 UTC,bbarrannn,bbarrannn gifted a Tier 1 sub to FilipB01!,0
1710,2024-05-01 19:33:58 UTC,bbarrannn,bbarrannn gifted a Tier 1 sub to Baffleturd!,0
1711,2024-05-01 19:33:58 UTC,bbarrannn,bbarrannn gifted a Tier 1 sub to RedEzzyz!,0
2215,2024-05-02 15:13:04 UTC,gyllenc,gyllenc gifted a Tier 1 sub to b__ki!,1
2336,2024-05-02 15:25:04 UTC,ardaabora,ardaabora gifted a Tier 1 sub to yuki2803!,1
2337,2024-05-02 15:25:04 UTC,ardaabora,ardaabora gifted a Tier 1 sub to gabrielius2019!,1
2338,2024-05-02 15:25:04 UTC,ardaabora,ardaabora gifted a Tier 1 sub to FadesOO!,1
2339,2024-05-02 15:25:04 UTC,ardaabora,ardaabora gifted a Tier 1 sub to kstaann!,1
2340,2024-05-02 15:25:04 UTC,ardaabora,ardaabora gifted a Tier 1 sub to 4_vlasova_mar...,1
2341,2024-05-02 15:25:04 UTC,ardaabora,ardaabora gifted a Tier 1 sub to zhivagomd!,1
2342,2024-05-02 15:25:04 UTC,ardaabora,ardaabora gifted a Tier 1 sub to KLAUSsS18!,1
2343,2024-05-02 15:25:04 UTC,ardaabora,ardaabora gifted a Tier 1 sub to righter2iq!,1
2345,2024-05-02 15:25:04 UTC,ardaabora,ardaabora gifted a Tier 1 sub to duhkings!,1
2346,2024-05-02 15:25:04 UTC,ardaabora,ardaabora gifted a Tier 1 sub to drakuri02!,1
2373,2024-05-02 15:27:03 UTC,reflectsiam,reflectsiam gifted a Tier 1 sub to SveOdPriloga!,1
2374,2024-05-02 15:27:03 UTC,reflectsiam,reflectsiam gifted a Tier 1 sub to murad_123013!,1
2375,2024-05-02 15:27:03 UTC,reflectsiam,reflectsiam gifted a Tier 1 sub to chewycolour!,1
2376,2024-05-02 15:27:03 UTC,reflectsiam,reflectsiam gifted a Tier 1 sub to tufonova123!,1
2377,2024-05-02 15:27:03 UTC,reflectsiam,reflectsiam gifted a Tier 1 sub to dragazor69!,1
2382,2024-05-02 15:27:17 UTC,ardaabora,ardaabora gifted a Tier 1 sub to S4ffaron!,1
2383,2024-05-02 15:27:17 UTC,ardaabora,ardaabora gifted a Tier 1 sub to maniacreft46!,1
2384,2024-05-02 15:27:17 UTC,ardaabora,ardaabora gifted a Tier 1 sub to marcop_091!,1
2385,2024-05-02 15:27:17 UTC,ardaabora,ardaabora gifted a Tier 1 sub to oscardaztxx!,1
2386,2024-05-02 15:27:17 UTC,ardaabora,ardaabora gifted a Tier 1 sub to kauflandfps_!,1
2387,2024-05-02 15:27:17 UTC,ardaabora,ardaabora gifted a Tier 1 sub to 01863213936!,1
2388,2024-05-02 15:27:17 UTC,ardaabora,ardaabora gifted a Tier 1 sub to arnold_wyld!,1
2389,2024-05-02 15:27:17 UTC,ardaabora,ardaabora gifted a Tier 1 sub to gorbunova_occ...,1
2390,2024-05-02 15:27:17 UTC,ardaabora,ardaabora gifted a Tier 1 sub to rud_onji!,1

In [39]:
giftedData.describe()

            stream
count  1451.000000
mean     65.745003
std      30.511181
min       0.000000
25%      49.000000
50%      61.000000
75%      95.000000
max     110.000000

In [40]:
unique_gifter = giftedData['user'].nunique()
print("Number of unique users:", unique_gifter)

Number of unique users: 96

In [41]:
#prime 

prime_sub = data[data['message'].str.contains('Prime', case=False, na=False)]

prime_sub.head(5)

,date,user,message,stream
210,2024-05-01 15:26:58 UTC,iborotti_06,iborotti_06 subscribed with Prime.,0
866,2024-05-01 17:19:54 UTC,ze1nar,ze1nar subscribed with Prime. They've subscrib...,0
3460,2024-05-02 17:07:26 UTC,blakbilt,blakbilt subscribed with Prime. They've subscr...,1
5061,2024-05-03 15:10:03 UTC,ammoke,ammoke subscribed with Prime.,2
6387,2024-05-03 17:55:56 UTC,domjel12,domjel12 subscribed with Prime.,2

In [42]:
trueSub = data[~data['message'].str.contains('Prime', case=False, na=False)]

trueSub = trueSub[~trueSub['message'].str.contains('raiders', case=False, na=False)]

trueSub = trueSub[~trueSub['message'].str.contains('gifting', case=False, na=False)]

trueSub = trueSub[~trueSub['message'].str.contains('gifted', case=False, na=False)]

trueSub = trueSub[trueSub['message'].str.contains(' subscribed at ', case=False, na=False)]

tier1 = trueSub[trueSub['message'].str.contains('Tier 1', case=False, na=False)]
tier2 = trueSub[trueSub['message'].str.contains('Tier 2', case=False, na=False)]
tier3 = trueSub[trueSub['message'].str.contains('Tier 3', case=False, na=False)]

In [43]:
tier1.describe()

           stream
count  409.000000
mean    63.337408
std     32.188379
min      0.000000
25%     36.000000
50%     64.000000
75%     92.000000
max    111.000000

In [44]:
tier2.describe()

           stream
count    5.000000
mean    65.600000
std     34.282649
min     28.000000
25%     38.000000
50%     63.000000
75%     89.000000
max    110.000000

In [45]:
tier3.describe()

           stream
count   15.000000
mean    64.133333
std     34.823774
min      7.000000
25%     40.500000
50%     67.000000
75%     93.500000
max    110.000000

In [46]:
tier2.head(10)

,date,user,message,stream
82963,2024-05-31 19:40:14 UTC,IRLKingsman,IRLKingsman subscribed at Tier 2.,28
106885,2024-06-11 14:25:52 UTC,IRLKingsman,IRLKingsman subscribed at Tier 2. They've subs...,38
180346,2024-07-14 13:29:43 UTC,IRLKingsman,IRLKingsman subscribed at Tier 2. They've subs...,63
266775,2024-08-20 13:40:20 UTC,IRLKingsman,IRLKingsman subscribed at Tier 2. They've subs...,89
340441,2024-09-11 12:19:46 UTC,IRLKingsman,IRLKingsman subscribed at Tier 2. They've subs...,110

In [47]:
tier3.head(10)

,date,user,message,stream
19054,2024-05-09 15:17:05 UTC,Substen,Substen subscribed at Tier 3. They've subscrib...,7
27607,2024-05-12 16:08:02 UTC,reflectsiam,reflectsiam subscribed at Tier 3.,10
42158,2024-05-19 15:30:38 UTC,reflectsiam,reflectsiam subscribed at Tier 3. They've subs...,16
98603,2024-06-07 14:07:45 UTC,Substen,Substen subscribed at Tier 3. They've subscrib...,35
137050,2024-06-20 15:45:38 UTC,reflectsiam,reflectsiam subscribed at Tier 3. They've subs...,46
168261,2024-07-08 13:18:25 UTC,Substen,Substen subscribed at Tier 3. They've subscrib...,58
184738,2024-07-15 15:07:18 UTC,yigit_ivan07,yigit_ivan07 subscribed at Tier 3.,64
190456,2024-07-19 12:50:39 UTC,reflectsiam,reflectsiam subscribed at Tier 3. They've subs...,67
209770,2024-07-25 15:59:03 UTC,Juhail,Juhail subscribed at Tier 3. They've subscribe...,73
249027,2024-08-07 12:16:40 UTC,Substen,Substen subscribed at Tier 3. They've subscrib...,85

In [48]:
prime_sub[prime_sub['user'] == 'balintboss']

,date,user,message,stream
39336,2024-05-18 15:07:03 UTC,balintboss,balintboss subscribed with Prime. They've subs...,15
135696,2024-06-20 12:58:15 UTC,balintboss,balintboss subscribed with Prime. They've subs...,46
194206,2024-07-20 14:37:00 UTC,balintboss,balintboss subscribed with Prime. They've subs...,68
267472,2024-08-20 14:57:06 UTC,balintboss,balintboss subscribed with Prime. They've subs...,89

In [49]:
raids = data[data['message'].str.contains(' raiders from ', case=False, na=False)].copy()
raids['num'] = raids['message'].str.split().str[0]
raids['num'] = pd.to_numeric(raids['num'], errors='raise')
raids.head(50)

,date,user,message,stream,num
100,2024-05-01 15:13:16 UTC,kloakpojken,4 raiders from kloakpojken have joined!,0,4
3627,2024-05-02 17:16:16 UTC,gkey,125 raiders from gkey have joined!,1,125
21089,2024-05-09 19:37:36 UTC,gkey,92 raiders from gkey have joined!,7,92
21323,2024-05-10 15:18:35 UTC,kloakpojken,5 raiders from kloakpojken have joined!,8,5
25548,2024-05-11 20:44:41 UTC,kloakpojken,11 raiders from kloakpojken have joined!,9,11
35708,2024-05-16 17:18:46 UTC,gkey,466 raiders from gkey have joined!,13,466
46077,2024-05-20 17:52:20 UTC,gkey,920 raiders from gkey have joined!,17,920
49925,2024-05-22 13:47:49 UTC,dima_wallhacks,952 raiders from dima_wallhacks have joined!,19,952
58991,2024-05-25 18:05:29 UTC,gkey,613 raiders from gkey have joined!,22,613
64632,2024-05-27 18:35:31 UTC,mbXtreme,115 raiders from mbXtreme have joined!,24,115
70333,2024-05-28 17:47:55 UTC,asd_urmom,18 raiders from asd_urmom have joined!,25,18
85217,2024-06-02 19:17:04 UTC,smashleyxoxo322,40 raiders from smashleyxoxo322 have joined!,30,40
90454,2024-06-05 13:11:27 UTC,dima_wallhacks,868 raiders from dima_wallhacks have joined!,33,868
96604,2024-06-06 16:08:58 UTC,gkey,239 raiders from gkey have joined!,34,239
99300,2024-06-07 15:51:45 UTC,supperclip,8 raiders from supperclip have joined!,35,8
105565,2024-06-10 16:58:22 UTC,gkey,223 raiders from gkey have joined!,37,223
117736,2024-06-14 15:03:45 UTC,gkey,215 raiders from gkey have joined!,41,215
127390,2024-06-16 17:25:32 UTC,Trizze,158 raiders from Trizze have joined!,43,158
131366,2024-06-17 16:42:26 UTC,SkirmishX,4 raiders from SkirmishX have joined!,44,4
137160,2024-06-20 16:01:07 UTC,gkey,192 raiders from gkey have joined!,46,192
137953,2024-06-22 13:13:47 UTC,dima_wallhacks,744 raiders from dima_wallhacks have joined!,47,744
150445,2024-07-01 16:14:35 UTC,clarktf,29 raiders from clarktf have joined!,52,29
157666,2024-07-04 13:31:43 UTC,dima_wallhacks,1289 raiders from dima_wallhacks have joined!,55,1289
160623,2024-07-04 18:05:02 UTC,gkey,203 raiders from gkey have joined!,55,203
170320,2024-07-09 16:01:35 UTC,1206paul_,6 raiders from 1206paul_ have joined!,59,6
172186,2024-07-11 14:28:01 UTC,dima_wallhacks,1219 raiders from dima_wallhacks have joined!,60,1219
192058,2024-07-19 18:33:07 UTC,gkey,249 raiders from gkey have joined!,67,249
195396,2024-07-20 18:44:57 UTC,rdlix,31 raiders from rdlix have joined!,68,31
203892,2024-07-24 12:58:49 UTC,dima_wallhacks,1157 raiders from dima_wallhacks have joined!,72,1157
204973,2024-07-24 14:27:31 UTC,ntiGe,111 raiders from ntiGe have joined!,72,111
234314,2024-08-02 16:26:45 UTC,gkey,139 raiders from gkey have joined!,80,139
236005,2024-08-03 12:46:08 UTC,ananasxpress_,13 raiders from ananasxpress_ have joined!,81,13
239862,2024-08-03 18:35:20 UTC,1206paul_,5 raiders from 1206paul_ have joined!,81,5
260388,2024-08-09 18:28:18 UTC,1206paul_,21 raiders from 1206paul_ have joined!,87,21
274757,2024-08-22 12:55:56 UTC,ElinaJasmin,85 raiders from ElinaJasmin have joined!,91,85
281147,2024-08-24 12:14:50 UTC,Anubis_IV,10 raiders from Anubis_IV have joined!,93,10
281807,2024-08-24 13:27:47 UTC,ananasxpress_,13 raiders from ananasxpress_ have joined!,93,13
289539,2024-08-25 18:52:00 UTC,gkey,258 raiders from gkey have joined!,94,258
299166,2024-08-28 13:42:52 UTC,gkey,169 raiders from gkey have joined!,97,169
303332,2024-08-31 12:29:18 UTC,Obafemimoebus,16 raiders from Obafemimoebus have joined!,99,16
305146,2024-08-31 16:52:57 UTC,gkey,208 raiders from gkey have joined!,99,208
308848,2024-09-02 10:46:51 UTC,Obafemimoebus,13 raiders from Obafemimoebus have joined!,101,13
310390,2024-09-02 14:08:01 UTC,Obafemimoebus,22 raiders from Obafemimoebus have joined!,101,22
312901,2024-09-03 18:08:57 UTC,JanEmmel,26 raiders from JanEmmel have joined!,102,26
313721,2024-09-04 12:42:50 UTC,Obafemimoebus,14 raiders from Obafemimoebus have joined!,103,14
327917,2024-09-07 17:34:44 UTC,gkey,226 raiders from gkey have joined!,106,226
328363,2024-09-08 12:23:12 UTC,Obafemimoebus,9 raiders from Obafemimoebus have joined!,107,9
330531,2024-09-08 15:02:09 UTC,chuzed,5 raiders from chuzed have joined!,107,5
333687,2024-09-09 14:18:13 UTC,Obafemimoebus,20 raiders from Obafemimoebus have joined!,108,20
345912,2024-09-12 15:27:50 UTC,1206paul_,9 raiders from 1206paul_ have joined!,111,9

In [50]:
raids['num'].describe()

count      50.000000
mean      231.740000
std       351.224785
min         4.000000
25%        13.000000
50%        88.500000
75%       225.250000
max      1289.000000
Name: num, dtype: float64